(
    palette: Dark((
        name: "alpental-dark",
        bright_red: (
        red: 0.9411765,
        green: 0.3529412,
        blue: 0.3098039,
        alpha: 1.0000000,
    ),
        bright_green: (
        red: 0.3215686,
        green: 0.7568628,
        blue: 0.2000000,
        alpha: 1.0000000,
    ),
        bright_orange: (
        red: 1.0000000,
        green: 0.6745098,
        blue: 0.0000000,
        alpha: 1.0000000,
    ),
        gray_1: (
        red: 0.0823529,
        green: 0.0823529,
        blue: 0.0823529,
        alpha: 1.0000000,
    ),
        gray_2: (
        red: 0.1294118,
        green: 0.1294118,
        blue: 0.1294118,
        alpha: 1.0000000,
    ),
        neutral_0: (
        red: 0.0000000,
        green: 0.0000000,
        blue: 0.0000000,
        alpha: 1.0000000,
    ),
        neutral_1: (
        red: 0.0823529,
        green: 0.0823529,
        blue: 0.0823529,
        alpha: 1.0000000,
    ),
        neutral_2: (
        red: 0.1294118,
        green: 0.1294118,
        blue: 0.1294118,
        alpha: 1.0000000,
    ),
        neutral_3: (
        red: 0.2078431,
        green: 0.2078431,
        blue: 0.2078431,
        alpha: 1.0000000,
    ),
        neutral_4: (
        red: 0.2862745,
        green: 0.2862745,
        blue: 0.2862745,
        alpha: 1.0000000,
    ),
        neutral_5: (
        red: 0.4156863,
        green: 0.4156863,
        blue: 0.4156863,
        alpha: 1.0000000,
    ),
        neutral_6: (
        red: 0.5411765,
        green: 0.5411765,
        blue: 0.5411765,
        alpha: 1.0000000,
    ),
        neutral_7: (
        red: 0.6705883,
        green: 0.6705883,
        blue: 0.6705883,
        alpha: 1.0000000,
    ),
        neutral_8: (
        red: 0.7960784,
        green: 0.7960784,
        blue: 0.7960784,
        alpha: 1.0000000,
    ),
        neutral_9: (
        red: 0.8980392,
        green: 0.8980392,
        blue: 0.8980392,
        alpha: 1.0000000,
    ),
        neutral_10: (
        red: 1.0000000,
        green: 1.0000000,
        blue: 1.0000000,
        alpha: 1.0000000,
    ),
        accent_blue: (
        red: 0.2588235,
        green: 0.5803922,
        blue: 1.0000000,
        alpha: 1.0000000,
    ),
        accent_indigo: (
        red: 0.4901961,
        green: 0.4588235,
        blue: 0.8431373,
        alpha: 1.0000000,
    ),
        accent_purple: (
        red: 0.7294118,
        green: 0.6235294,
        blue: 0.8745098,
        alpha: 1.0000000,
    ),
        accent_pink: (
        red: 0.8431373,
        green: 0.4588235,
        blue: 0.6509804,
        alpha: 1.0000000,
    ),
        accent_red: (
        red: 0.9411765,
        green: 0.3529412,
        blue: 0.3098039,
        alpha: 1.0000000,
    ),
        accent_orange: (
        red: 1.0000000,
        green: 0.6745098,
        blue: 0.0000000,
        alpha: 1.0000000,
    ),
        accent_yellow: (
        red: 0.8431373,
        green: 0.8431373,
        blue: 0.4588235,
        alpha: 1.0000000,
    ),
        accent_green: (
        red: 0.3215686,
        green: 0.7568628,
        blue: 0.2000000,
        alpha: 1.0000000,
    ),
        accent_warm_grey: (
        red: 0.7960784,
        green: 0.7960784,
        blue: 0.7960784,
        alpha: 1.0000000,
    ),
        ext_warm_grey: (
        red: 0.6784314,
        green: 0.6509804,
        blue: 0.6235294,
        alpha: 1.0000000,
    ),
        ext_orange: (
        red: 1.0000000,
        green: 0.6745098,
        blue: 0.0000000,
        alpha: 1.0000000,
    ),
        ext_yellow: (
        red: 0.8431373,
        green: 0.8431373,
        blue: 0.4588235,
        alpha: 1.0000000,
    ),
        ext_blue: (
        red: 0.1058824,
        green: 0.7372549,
        blue: 0.8078431,
        alpha: 1.0000000,
    ),
        ext_purple: (
        red: 0.6509804,
        green: 0.4588235,
        blue: 0.8431373,
        alpha: 1.0000000,
    ),
        ext_pink: (
        red: 0.8431373,
        green: 0.4588235,
        blue: 0.6509804,
        alpha: 1.0000000,
    ),
        ext_indigo: (
        red: 0.4901961,
        green: 0.4588235,
        blue: 0.8431373,
        alpha: 1.0000000,
    ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 4,
        space_xs: 8,
        space_s: 8,
        space_m: 16,
        space_l: 24,
        space_xl: 32,
        space_xxl: 48,
        space_xxxl: 64,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (8.0, 8.0, 8.0, 8.0),
        radius_l: (8.0, 8.0, 8.0, 8.0),
        radius_xl: (8.0, 8.0, 8.0, 8.0),
    ),
    neutral_tint: Some((
        red: 0.2862745,
        green: 0.2862745,
        blue: 0.2862745,
    )),
    bg_color: Some((
        red: 0.0823529,
        green: 0.0823529,
        blue: 0.0823529,
        alpha: 1.0000000,
    )),
    primary_container_bg: Some((
        red: 0.1294118,
        green: 0.1294118,
        blue: 0.1294118,
        alpha: 1.0000000,
    )),
    secondary_container_bg: Some((
        red: 0.2862745,
        green: 0.2862745,
        blue: 0.2862745,
        alpha: 1.0000000,
    )),
    text_tint: Some((
        red: 1.0000000,
        green: 1.0000000,
        blue: 1.0000000,
    )),
    accent: Some((
        red: 0.7960784,
        green: 0.7960784,
        blue: 0.7960784,
    )),
    success: Some((
        red: 0.3215686,
        green: 0.7568628,
        blue: 0.2000000,
    )),
    warning: Some((
        red: 1.0000000,
        green: 0.6745098,
        blue: 0.0000000,
    )),
    destructive: Some((
        red: 0.9411765,
        green: 0.3529412,
        blue: 0.3098039,
    )),
    is_frosted: false,
    gaps: (0, 4),
    active_hint: 3,
    window_hint: None,
)
